nav{
  display:flex;
  flex-direction:column;
  width:96px;
  height:100%;
  /* background:var(--md-sys-color-surface-variant); */
  border-radius:16px;
  box-sizing: border-box;
  padding:24px 12px;
  gap:8px;
  z-index: 1;
}
nav button.nav-button:active{ -webkit-tap-highlight-color: transparent;}
nav button.nav-button{
  width:100%;
  padding:4px 8px;
  border-radius:16px;
  font-size:12px;
  line-height:16px;
  border:none;
  background:none;
  color:var(--md-sys-color-on-surface-variant);
  cursor:pointer;
}
nav button.nav-button span.icon-holder{
  display:flex;
  justify-content:center;
  align-items:center;

  width: 56px;
  height: 32px;
  /* padding:4px 16px; */
  transition:background 125ms;
  border-radius:16px;
  margin-bottom:4px;
}
nav button.nav-button:hover span.icon-holder{background:var(--md-sys-color-surface-variant); color:var(--md-sys-color-on-surface);}
nav button.nav-button span.icon-holder span.material-symbols-rounded{
  border-radius:16px;
  transition: font-weight 125ms, padding 200ms cubic-bezier(.48,0,0,1), background 200ms, color 200ms;
}
nav button.nav-button:hover span.icon-holder span.material-symbols-rounded{font-weight: 600;}
/* font-variation-settings: 'wght' 600; */

/* active state */
nav button.nav-button[active] span.icon-holder{
  background: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-primary) !important;
}
nav button.nav-button[active] span.icon-holder span.material-symbols-rounded{
  animation: iconAnimation 125ms cubic-bezier(.48,0,0,1);
  font-variation-settings: 'FILL' 1;
  padding:4px 16px;
  
  background:var(--md-sys-color-primary);
}

/* ripple */
nav button.nav-button md-ripple{
  --md-ripple-hover-color: none;
  --md-ripple-pressed-color: none;
}

@keyframes iconAnimation {
  from{
    /* box-shadow: 0px 0px 16px -10px var(--md-sys-color-on-surface-variant); */
    font-variation-settings: 'FILL' 0;
  }
  to{
    font-variation-settings: 'FILL' 1;
    /* box-shadow: 0px 0px 16px -24px var(--md-sys-color-on-surface-variant); */
  }
}

@media only screen and (max-width: 680px){
  nav{
    /* position:fixed; */
    bottom:0;
    flex-direction: row;
    padding:8px;
    border-radius:0;
    width: 100%;
    height: fit-content;
    gap:0;
    background: var(--md-sys-color-surface-container);
    padding-bottom: max(env(safe-area-inset-bottom, 0), 24px);
  }
  nav button.nav-button{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  nav button.nav-button md-ripple{
    --md-ripple-hover-color: none;
    --md-ripple-pressed-color: var(--md-sys-color-outline);
  }
}

@media only screen and (min-width: 680px){
  nav.nav-style-2{
    min-width:200px;
    gap:0px;
  }
  nav.nav-style-2 button.nav-button{
    padding:0;
    display:flex;
    height: 40px;
  }
  nav.nav-style-2 button.nav-button span.icon-holder{
    position:absolute;
    width: 100%;
    border-radius:64px;
  }
  nav.nav-style-2 button.nav-button > span:not(.icon-holder){
    position:absolute;
    font-size:16px;
    line-height: 16px;
    left:56px;
    top:12px;
    transition:color 200ms cubic-bezier(0,1,0,1);
  }
  nav.nav-style-2 button.nav-button[active] > span:not(.icon-holder){
    color : var(--md-sys-color-on-primary);
  }
  nav.nav-style-2 button.nav-button span.icon-holder{
    box-sizing: border-box;
    padding:0 24px;
    margin:0;
    justify-content: flex-start;
    height:40px;
    transition: padding 300ms cubic-bezier(0,1,0,1), background 100ms;
  }
  nav.nav-style-2 button.nav-button[active] span.icon-holder{
    padding:0;
  }
  nav.nav-style-2 button.nav-button span.icon-holder span.material-symbols-rounded{
    transition: padding 300ms cubic-bezier(0,1,0,1);
    box-sizing: border-box;
    padding:0;
    border-radius: 16px;
  }
  nav.nav-style-2 button.nav-button[active] span.icon-holder span.material-symbols-rounded{
    padding: 8px 128px 8px 24px;
    box-shadow: 0px 0px 32px -10px var(--md-sys-color-primary-container);
  }
  nav.nav-style-2 button.nav-button:not([active]) span.icon-holder span.material-symbols-rounded, nav.nav-style-2 button.nav-button:not([active]){
    /* transition: color 200ms; */
  }
  nav.nav-style-2 button.nav-button:not([active]):hover span.icon-holder span.material-symbols-rounded, nav.nav-style-2 button.nav-button:not([active]):hover{
    color: var(--md-sys-color-primary);
  }
}


@media only screen and (min-width: 680px){
  nav.nav-style-3 > button.nav-button.hide-on-mobile{
    display:none;
  }

  nav.nav-style-3{
    flex-direction:row;
    width:auto;
    height: auto;
    background: var(--md-sys-color-surface-container);
    box-sizing: border-box;
    padding: 8px;
    gap:0px;

    position: absolute; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    bottom:24px;
    border-radius:40px;

    transition: transform 500ms cubic-bezier(0,1,0,1);
    transform-origin: bottom center;
  }

  nav.nav-style-3:hover{
    transform: scale(1.05);
  }

  nav.nav-style-3 button.nav-button{padding:4px;}
  nav.nav-style-3 button.nav-button > span:last-child{ display: none; }
  nav.nav-style-3 button.nav-button span{margin-bottom:0 !important;}
  nav.nav-style-3 button.nav-button[active] span.icon-holder span.material-symbols-rounded{
    box-shadow: 0px 0px 32px -10px var(--md-sys-color-primary-container);
  }


  nav.nav-style-4 > button.nav-button.hide-on-mobile{display:none;}
  nav.nav-style-4{
    flex-direction:row;
    height: auto;
    background: var(--md-sys-color-surface-container-low);
    box-sizing: border-box;
    padding: 8px;
    gap:8px;
    /* position: absolute;  */

    width: auto;
    margin:14px;
    margin-bottom:0px;
    border-radius:32px;;
  }
  nav.nav-style-4 button.nav-button{padding:4px;}
  nav.nav-style-4 button.nav-button{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:8px;

    width:fit-content;
    padding:12px 24px;

    font-size:16px;
    border-radius:64px;
  }
  nav.nav-style-4 button.nav-button[active]{
    background:var(--md-sys-color-primary);
    color:var(--md-sys-color-on-primary);
  }
  nav.nav-style-4 button.nav-button.color-gray:not([active]){background:var(--md-sys-color-surface-container)}
  nav.nav-style-4 button.nav-button:not([active]):hover{background:var(--md-sys-color-surface-container-high)}
  nav.nav-style-4 button.nav-button span.icon-holder{
    width: fit-content;
    height: fit-content;
    padding:0;

    background:transparent;
    color:var(--md-sys-color-on-background);
  }
  nav.nav-style-4 button.nav-button[active] span.icon-holder{
    color:var(--md-sys-color-on-primary);
  }
  nav.nav-style-4 button.nav-button span.icon-holder span.material-symbols-rounded{
    background: transparent;
    padding:0;
  }

  /* nav.nav-style-4 button.nav-button > span:last-child{ display: none; } */
  nav.nav-style-4 button.nav-button span{margin-bottom:0 !important;}
}