/* behavior variations */
.direction-row{flex-direction:row;}
.direction-column{flex-direction:column;}

.justify-right{justify-content:flex-end;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between; flex-wrap: wrap;}
.box-sizing{box-sizing:border-box;}

.align-center{align-items:center;}
.align-start{align-items:flex-start;}
.vh-center{justify-content:center;align-items:center;}

.grow-1{flex-grow:1;}
.grow-1-0{flex-grow:1}
.width-100{width:100%; min-width: 100%;}
.width-auto{width:auto;}
.height-100{height:100%; min-height: 100%;}

.v-margin{margin:8px 0;}
.v-margin-large{margin:16px 0;}
.v-margin-extra-large{margin:24px 0;}
.top-margin-8{margin-top:8px;}
.top-margin-16{margin-top:16px;}
.bottom-margin-4{margin-bottom:4px;}
.bottom-margin-8{margin-bottom:8px;}
.bottom-margin-16{margin-bottom:16px;}
.bottom-margin-24{margin-bottom:24px;}
.bottom-margin-32{margin-bottom:32px;}
.bottom-margin-40{margin-bottom:40px;}

.gap-0{gap:0px;}
.gap-4{gap:4px;}
.gap-8{gap:8px;}
.gap-16{gap:16px;}
.gap-24{gap:24px;}
.gap-32{gap:32px;}

.h-gap-24{column-gap: 24px;}

.padding-0{padding:0px !important;}
.padding-1{padding:1px !important;}
.padding-8{padding:8px !important;}
.padding-16{padding:16px !important;}
.padding-24{padding:24px !important;}
.padding-32{padding:32px !important;}
.padding-40{padding:40px !important;}
.padding-48{padding:48px !important;}
.padding-56{padding:56px !important;}
.padding-64{padding:64px !important;}
.t-padding-0{padding-top:0px !important;}
.h-padding-8{padding-left:8px !important; padding-right:8px !important;}
.h-padding-16{padding-left:16px !important; padding-right:16px !important;}
.h-padding-24{padding-left:24px !important; padding-right:24px !important;}
.b-padding-0{padding-bottom:0px !important;}
.b-padding-8{padding-bottom:8px !important;}

.box-sizing{box-sizing: border-box;}
.fit-content{width:fit-content;}

.overflow-hidden{overflow:hidden;}
.overflow-auto{overflow:auto;}
.overflow-visible{overflow:visible !important;}

@media only screen and (max-width: 680px){
  .fit-content{width: unset; max-width: unset;}
  .grow-1-0{flex-grow: unset;}
}

.simple-container{display:flex;}
.basis-small{flex-basis:100px}
.basis-normal{flex-basis:200px}
.basis-large{flex-basis:400px}
.flex-wrap{flex-wrap:wrap;}
.position-relative{position:relative;}
.user-select-none{user-select:none;}
.cursor-pointer{cursor:pointer;}

.white-space-no-wrap{white-space:nowrap;}

.border-radius-4{border-radius:4px;}
.border-radius-8{border-radius:8px;}
.border-radius-16{border-radius:16px;}
.border-radius-24{border-radius:24px;}
.border-radius-32{border-radius:32px;}
.border-radius-40{border-radius:40px;}
.border-radius-48{border-radius:48px;}
.border-radius-56{border-radius:56px;}
.border-radius-64{border-radius:64px;}



.text-center{text-align:center;}

.outline-1{box-shadow: 0px 0px 0px 1px var(--md-sys-color-outline-variant);}
.outline-1-light{box-shadow: 0px 0px 0px 1px var(--md-sys-color-inverse-on-surface);}

.scrollbar-hidden::-webkit-scrollbar{display:none;}

.relative{position:relative;}
.absolute-centered{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}

.cursor-pointer{cursor:pointer;}
.height-max-content{min-height:max-content;}
