.folders-parent{
    display:flex;
    justify-content:space-between; 
    flex-wrap: wrap;
    gap:0;
    max-width: 276px;
    transition: max-width 0.7s cubic-bezier(0.1, 0.8, 0, 1);
}
/* .folders-parent:not([reduced]){
    animation: foldersParentAnimationIn 0.7s cubic-bezier(0.1, 0.8, 0, 1);
} */
.folders-parent[openning]{
    animation: foldersParentAnimationIn 0.7s cubic-bezier(0.1, 0.8, 0, 1);
}
.folders-parent[closing]{
    animation: foldersParentAnimationOut 0.7s cubic-bezier(0.1, 0.8, 0, 1);
}
@keyframes foldersParentAnimationIn {
    0% {
        max-width: 88px;
    }
    100% {
        max-width: 276px;
    }
}
@keyframes foldersParentAnimationOut {
    0% {
        max-width: 276px;
        opacity:1;
    }
    100% {
        max-width: 0px;
        padding:0;
        margin:-4px;
        overflow:hidden;
        opacity:0;
    }
}

.folders-list{
    display:flex;
    flex-direction:column;
}


.folder{
    position:relative;
    display:flex;
    align-items: center;
    gap:8px;

    cursor:pointer;

    max-width:180px;
    padding:8px 24px;
    
    color:var(--md-sys-color-on-background);
    border-radius:16px;
    overflow:hidden;
    transition: 
        border-radius 0.2s, 
        max-width 0.7s cubic-bezier(0.1, 0.8, 0, 1), 
        padding 0.7s cubic-bezier(0.1, 0.8, 0, 1),
        background 0.3s cubic-bezier(0.4, 0, 0.2, 1)
    ;
}
.folder span:last-child{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.folder[active]{
    background:var(--md-sys-color-secondary-container);
    color:var(--md-sys-color-on-secondary-container);
    font-variation-settings: 'FILL' 1;
}

.folders-parent[reduced]{
    max-width:88px;
}

.folders-parent[reduced] .folder {
    max-width: 24px;
    padding:8px; 
    border-radius:24px;
}
.folders-parent[reduced] .folder span:last-child{ 
    visibility: hidden;
}

.folders-parent[reduced]:hover{
    max-width: 276px;
}

.folders-parent[reduced]:hover .folder { 
    border-radius:16px;
    max-width:180px;
    padding:8px 24px;
}
.folders-parent[reduced]:hover .folder span:last-child{
    visibility: visible;
}


