.w-section{
    display:none;
}
.w-section[active]{
    display:flex;
}

button.w-nav-button{
    display:flex;
    align-items:center;
    gap:8px;
    
    padding:8px 24px;
    border-radius:12px;
    
    background:transparent;
    color:var(--md-sys-color-on-surface-variant);

    cursor:pointer;
    border:none;

    transition:background 125ms cubic-bezier(0,0,0.5,1), color 125ms cubic-bezier(0,0,0.5,1);
}
button.w-nav-button > span{
    font-size:16px;
    line-height:17px;
}

button.w-nav-button[active]{
    background:var(--md-sys-color-secondary-container);
    color:var(--md-sys-color-on-secondary-container);
}
button.w-nav-button[active] md-icon{font-variation-settings: 'FILL' 1;}


.w-nav-parent{
    min-width:max-content;
    padding-right:24px;
    border-right: solid 1px var(--md-sys-color-outline-variant);
}


@media only screen and (max-width: 680px){
    .w-section-holder{
        flex-direction: column-reverse;
    }
    .w-nav-parent{
        position:sticky;
        bottom:0;
        padding-top:8px;
        background:var(--md-sys-color-surface);
        flex-direction: row;
        padding-right:0;
        border-right:none;
    }
    button.w-nav-button{
        flex-direction: column;
        width:100%;
        padding:8px 16px;
    }
    button.w-nav-button > span{
        font-size:12px;
    }


    button.w-nav-button{border-radius:24px;}
}